body {
  font-family: 'Ubuntu Mono', monospace;
  background: whitesmoke;
  overflow: hidden;

}

.App {
  display: grid;
  grid-template-areas:  'top top top top top top'
                        'content content content content content content' 
                        'content content content content content content' 
                        'content content content content content content' 
                        'content content content content content content' 
                        'content content content content content content' 

                      }

.header {
  grid-area: top;
}

.content {
  grid-area: content;
  padding: 1vw;
}

h1 {
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 400;

}



